<h1>Create an article</h1>
HELLOOOOO
<%= @article.inspect %>
<%= form_for @article do |f| %>
	<p>
		"Hello again"
	</p>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %><br/>
	</p>

<% end %>